@charset "UTF-8";
/*------------- adjustment -------------*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: "helvetica", sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  list-style: none; }

p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.tabs {
  cursor: pointer; }

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

*,
:before,
:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit; }

.wrapper,
.visible__page,
.page {
  height: 100%;
  width: 100%; }

.visible__page {
  position: relative;
  top: 0%;
  -webkit-transition: top 1s;
  -o-transition: top 1s;
  -moz-transition: top 1s;
  transition: top 1s; }

.page {
  position: relative;
  overflow: hidden; }

.wrapper {
  overflow: hidden; }

.container {
  width: 85%;
  margin: 0 auto;
  height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

/*------------- input -------------*/
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
  border-color: red; }

body input:required:valid,
body textarea:required:valid {
  color: #67bc5c;
  border-color: #67bc5c; }

/*------------- отмена выделения -------------*/
body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/*------------- img -------------*/
.img_info {
  margin-left: 0;
  padding-left: 0; }

/*------------- IE -------------*/
header,
nav,
section,
article,
aside,
footer {
  display: block; }

/*------------- go -------------*/
@font-face {
  font-family: helvetica;
  src: url("../fonts/helvetica/HelveticaNeueCyr-Black.otf");
  font-weight: 900; }

@font-face {
  font-family: helvetica;
  src: url("../fonts/helvetica/HelveticaNeueCyr-Bold.otf");
  font-weight: 700; }

@font-face {
  font-family: helvetica;
  src: url("../fonts/helvetica/HelveticaNeueCyr-Light.otf");
  font-weight: 300; }

@font-face {
  font-family: helvetica;
  src: url("../fonts/helvetica/HelveticaNeueCyr-Roman.otf");
  font-weight: 600; }

@font-face {
  font-family: helvetica;
  src: url("../fonts/helvetica/HelveticaNeueCyr-Thin.otf");
  font-weight: 100; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .reason__title {
    font-size: 30px !important; }
  .header__logo,
  .header__tel {
    text-align: center !important; }
  .header__logo {
    margin-bottom: 15px; }
  .header__description {
    margin-top: 40px !important; }
  .header__description h1 {
    font-size: 25px;
    text-align: center;
    color: #003469; }
  .header__description h2 {
    font-size: 16px;
    color: #fff;
    text-align: center; }
  .header__tel .tab_item {
    font-size: 23px !important; }
  .logo__title {
    font-size: 25px; }
  .description-tabs__wrapper .tab_content {
    font-size: 15px !important;
    padding: 15px 20px !important; }
  .description-tabs__wrapper {
    margin-left: 0 !important; }
  .codrops__list {
    display: none; } }

/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .description__tabs .tab {
    font-size: 15px !important; }
  .description-tabs__wrapper .tab_content {
    display: none; }
  .header__description h1 {
    color: #fff;
    margin-bottom: 20px; }
  .header__description h2 {
    display: none !important; }
  .description__tabs {
    display: none; }
  .description__button {
    bottom: -50px !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto !important; } }

/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*------------- breakpoints -------------*/
/*------------- media queries -------------*/
/*------------- center vertically and/or horizontally
an absolute positioned element -------------*/
/*------------- antialiasing mode font rendering -------------*/
/*------------- clearfix -------------*/
/*------------- header -------------*/
.header {
  background-image: url("../img/1st-page.jpg");
  background-repeat: no-repeat;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;
  background-position: right;
  color: white;
  font-weight: bold; }

.header__top {
  padding-top: 40px; }
  .header__top:after, .header__top:before {
    display: table;
    content: ""; }
  .header__top:after {
    clear: both; }

.header__logo {
  font-size: 50px;
  width: 50%;
  float: left;
  font-weight: 700; }

.logo__icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -8px;
  height: 50px;
  width: 50px;
  background-image: url(../img/flower.svg);
  background-position: top left; }

.logo__title {
  color: #fff; }

.header__tel {
  text-align: right;
  float: right;
  font-size: 40px;
  padding-top: 5px; }

.header-tabs__wrapper .active {
  color: #981818;
  text-decoration: underline; }

.header__description {
  margin-top: 50px; }
  .header__description h3 {
    font-size: 35px;
    font-weight: 300; }

.description-tabs__wrapper {
  font-weight: 300;
  margin-top: 50px;
  width: 50%; }

.description__tabs {
  padding: 0; }

.description__tabs .tab {
  display: inline-block;
  font-size: 20px;
  padding: 15px 60px;
  margin: 0;
  -webkit-transition: .25s ease;
  -o-transition: .25s ease;
  -moz-transition: .25s ease;
  transition: .25s ease;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.2); }
  .description__tabs .tab.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff; }
  .description__tabs .tab:last-child {
    margin-left: -5px; }

.description-tabs__wrapper .tab_content {
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  color: #fff;
  padding: 0px 46px;
  min-height: 183px; }
  .description-tabs__wrapper .tab_content:after, .description-tabs__wrapper .tab_content:before {
    display: table;
    content: ""; }
  .description-tabs__wrapper .tab_content:after {
    clear: both; }
  .description-tabs__wrapper .tab_content li {
    display: table;
    padding: 10px; }
    .description-tabs__wrapper .tab_content li span:first-child {
      display: inline-block;
      vertical-align: middle;
      width: 50px;
      height: 50px;
      background-image: url(../img/flower.svg); }
    .description-tabs__wrapper .tab_content li span:last-child {
      display: table-cell;
      vertical-align: middle;
      padding: 0 15px; }

.dt1 {
  background-position: 0% 47.4%; }

.dt2 {
  background-position: 100% 47.4%; }

.dt3 {
  background-position: 22% 47.4%; }

.dt4 {
  background-position: 76.4% 47.4%; }

.dt5 {
  background-position: 46.1% 47.4%; }

.description__tabs--button {
  display: inline-block;
  right: 0;
  padding: 15px 40px;
  margin: -50px 0 20px 0;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  background-color: #981818;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  text-transform: uppercase;
  float: right; }

/*------------- section2 video -------------*/
.section2 {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }
  .section2:after, .section2:before {
    display: table;
    content: ""; }
  .section2:after {
    clear: both; }
  .section2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 47%;
    width: 100%; }
  .section2:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 47%;
    width: 100%; }

.video__description {
  display: table;
  width: 25%;
  height: 100%;
  padding: 30px 70px;
  font-size: 18px;
  float: left; }
  .video__description h4 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 100px;
    font-weight: 700; }
  .video__description p {
    text-align: center;
    font-weight: 100; }
  .video__description span {
    display: table-cell;
    position: relative;
    vertical-align: middle; }

.video__wrap {
  width: 75%;
  height: 100%;
  float: left;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.3); }

/*------------- section 3 -------------*/
.section3 {
  background-image: url(../img/header_bg.jpg);
  background-attachment: fixed;
  background-position: right bottom;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover; }
  .section3:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.75); }

.slider__teaser {
  display: block;
  position: relative;
  width: 100%;
  padding: 15px;
  text-align: center;
  font-weight: thin;
  font-size: 43px;
  vertical-align: middle;
  line-height: 60px;
  margin: 0; }

/*------------- section4 -------------*/
.section4 {
  padding-top: 50px;
  background-color: #F8F6F7;
  padding-bottom: 50px; }
  .section4 h3 {
    font-weight: 300;
    font-size: 50px;
    line-height: 50px; }
  .section4 h4 {
    font-weight: 300;
    font-size: 40px; }

.tech__info {
  margin-top: 70px;
  font-weight: 600; }
  .tech__info:after, .tech__info:before {
    display: table;
    content: ""; }
  .tech__info:after {
    clear: both; }
  .tech__info .left__info {
    float: left;
    width: 50%; }
    .tech__info .left__info p {
      width: 75%; }
  .tech__info .right__info {
    float: right;
    width: 50%; }

.tech__img {
  width: 100%; }

/*------------- section5 -------------*/
.section5 {
  text-align: center;
  background-image: url(../img/last-page.jpg);
  background-position: right bottom;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover; }

.dizaap__contacts {
  text-align: left; }
  .dizaap__contacts p {
    display: block; }
  .dizaap__contacts span {
    display: block; }

.top__contacts {
  display: block;
  margin: 20px; }

.description__button {
  background: #9469A2;
  color: #fff;
  margin-top: 10px;
  padding: 3px 100px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase; }
  .description__button:hover {
    background-color: rgba(152, 24, 24, 0.9); }

.smart__contacts {
  margin-top: 50px;
  position: relative; }
  .smart__contacts span:first-child {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-image: url(../img/flower.svg);
    background-position: 13% 0%; }
  .smart__contacts span:last-child {
    display: block; }

.logo__dizaap {
  line-height: 200px; }
  .logo__dizaap span {
    background-image: url(../img/flower.svg);
    background-position: 53% 100%;
    width: 237px;
    height: 40px;
    display: inline-block; }
