@charset "UTF-8";
/*------------- adjustment -------------*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto regular", sans-serif;
  color: #333;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover; }

h1 {
  font-family: 'CleanvertisingLight', sans-serif;
  color: #fff;
  font-size: 40px;
  margin: 0;
  padding: 0; }

h2 {
  color: #003469;
  font-size: 20px;
  margin: 0;
  padding: 0; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  list-style: none; }

p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.tabs {
  cursor: pointer; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

*,
:before,
:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit; }

.wrapper,
.visible__page,
.page {
  height: 100%;
  width: 100%; }

.visible__page {
  position: relative;
  top: 0%;
  -webkit-transition: top 1s;
  -o-transition: top 1s;
  -moz-transition: top 1s;
  transition: top 1s; }

.page {
  position: relative; }

.wrapper {
  overflow: hidden; }

.container {
  width: 85%;
  margin: 0 auto;
  height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

/*------------- input -------------*/
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
  border-color: red; }

body input:required:valid,
body textarea:required:valid {
  color: #67bc5c;
  border-color: #67bc5c; }

/*------------- отмена выделения -------------*/
body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/*------------- img -------------*/
.img_info {
  margin-left: 0;
  padding-left: 0; }

/*------------- IE -------------*/
header,
nav,
section,
article,
aside,
footer {
  display: block; }

/*------------- go -------------*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .reason__title {
    font-size: 30px !important; }
  .header__logo,
  .header__tel {
    text-align: center !important; }
  .header__logo {
    margin-bottom: 15px; }
  .header__description {
    margin-top: 40px !important; }
  .header__description h1 {
    font-size: 25px;
    text-align: center;
    color: #003469; }
  .header__description h2 {
    font-size: 16px;
    color: #fff;
    text-align: center; }
  .header__tel .tab_item {
    font-size: 23px !important; }
  .logo__title {
    font-size: 25px; }
  .description-tabs__wrapper .tab_content {
    font-size: 15px !important;
    padding: 15px 20px !important; }
  .description-tabs__wrapper {
    margin-left: 0 !important; }
  .codrops__list {
    display: none; } }

/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .description__tabs .tab {
    font-size: 15px !important; }
  .description-tabs__wrapper .tab_content {
    display: none; }
  .header__description h1 {
    color: #fff;
    margin-bottom: 20px; }
  .header__description h2 {
    display: none !important; }
  .description__tabs {
    display: none; }
  .description__button {
    bottom: -50px !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto !important; } }

/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*------------- breakpoints -------------*/
/*------------- media queries -------------*/
/*------------- center vertically and/or horizontally
an absolute positioned element -------------*/
/*------------- antialiasing mode font rendering -------------*/
/*------------- clearfix -------------*/
/*------------- header -------------*/
.header {
  background-image: url("../img/header__bg1.jpg");
  background-repeat: no-repeat;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;
  background-position: right;
  color: white;
  font-family: "RobotoBold", sans-serif;
  font-weight: bold; }

.header__top {
  padding-top: 40px; }

.header__logo {
  font-size: 40px; }

.logo__icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -8px;
  height: 50px;
  width: 50px;
  background-image: url(../img/flower.svg);
  background-position: top left; }
  .logo__icon svg {
    fill: #fff; }

.logo__title {
  color: #fff; }

.header__tel {
  text-align: right; }

.header-tabs__wrapper .active {
  color: #981818;
  text-decoration: underline; }

.header-tabs__wrapper .header__tabs {
  display: block;
  font-size: 18px; }
  .header-tabs__wrapper .header__tabs span {
    display: block; }

.header-tabs__wrapper .tab_item {
  font-size: 31px; }

.header__description {
  margin-top: 80px; }

.description-tabs__wrapper {
  margin-top: 20px; }

.description__tabs {
  padding: 0; }

.description__tabs .tab {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 15px 0px 15px 50px;
  margin: 0;
  -webkit-transition: .25s ease;
  -o-transition: .25s ease;
  -moz-transition: .25s ease;
  transition: .25s ease;
  text-align: left;
  position: relative; }
  .description__tabs .tab.active {
    background-color: rgba(255, 255, 255, 0.6);
    color: #003469; }
    .description__tabs .tab.active .description-tabs__ico {
      display: block !important; }

.description-tabs__ico {
  display: none;
  background-image: url(../img/flower.svg);
  width: 50px;
  height: 50px;
  position: absolute;
  right: -25px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 10; }

.page {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.tabs__ico-1 {
  background-position: 100% 21%; }

.tabs__ico-2 {
  background-position: 50% 21%; }

.tabs__ico-3 {
  background-position: 0% 21%; }

.description-tabs__wrapper .tab_content {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  color: #333;
  padding: 12px 60px;
  min-height: 183px; }

.section2 {
  background-image: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;
  position: relative; }
  .section2:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9); }

.teaser {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#97B8D9), to(#C1D4E9));
  background: -webkit-linear-gradient(#97B8D9, #C1D4E9);
  background: -moz-linear-gradient(#97B8D9, #C1D4E9);
  background: -o-linear-gradient(#97B8D9, #C1D4E9);
  background: linear-gradient(#97B8D9, #C1D4E9);
  text-align: center;
  height: 100px; }
  .teaser img {
    display: block;
    height: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto; }

.reason__title {
  font-size: 40px;
  text-align: center;
  margin: 30px 0;
  position: relative; }

.reason__list {
  display: inline-block;
  height: 100%;
  padding: 0px 20px 20px 80px; }

.reason__list-item {
  font-size: 18px;
  padding-bottom: 20px; }

.reason__list-item .reason__list-icon {
  display: block;
  position: absolute;
  left: 0;
  margin-top: 5px;
  height: 50px;
  width: 50px;
  background-image: url(../img/flower.svg);
  background-repeat: no-repeat; }

.rli1 {
  background-position: 0% 47.4%; }

.rli2 {
  background-position: 100% 47.4%; }

.rli3 {
  background-position: 22% 47.4%; }

.rli4 {
  background-position: 76.4% 47.4%; }

.rli5 {
  background-position: 46.1% 47.4%; }

.contact-form {
  text-align: center;
  border: 2px solid #67bc5c;
  display: inline-block;
  padding: 20px; }

.contact-form__label h2 {
  font-size: 25px;
  margin-bottom: 20px; }

.contact-form__label input {
  display: block;
  padding: 5px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  border: 2px solid #67bc5c;
  margin: 10px auto; }

.contact-form__label button {
  margin-top: 20px;
  padding: 15px 20px;
  background-color: rgba(103, 188, 92, 0.9);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px; }
  .contact-form__label button:hover {
    background-color: #67bc5c; }

.section3 {
  background-image: url(../img/header_bg.jpg);
  background-attachment: fixed;
  background-position: right bottom;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover; }

.section3__slider {
  background-color: rgba(255, 255, 255, 0.75);
  height: 100%;
  padding: 0; }

.carousel {
  height: 100%;
  display: block; }

.carousel-inner {
  text-align: center !important; }

.carousel-img {
  position: relative; }

.carousel-caption {
  font-size: 20px;
  color: #333;
  text-shadow: none;
  display: block;
  position: relative;
  width: 50%;
  padding: 0;
  margin: 40px 0 5px 60px !important; }

.carousel-indicators li {
  vertical-align: center;
  border: 3px solid #c7c7c7;
  padding: 6px; }

.section4 {
  text-align: center; }

.map-tabs__wrapper {
  text-align: center; }
  .map-tabs__wrapper .map__tabs {
    font-size: 16px;
    display: inline-block; }
    .map-tabs__wrapper .map__tabs .tab {
      border: 2px solid #9794A5;
      background: #9794A5;
      float: left;
      color: #fff;
      padding: 3px 100px;
      -webkit-border-radius: 6px;
         -moz-border-radius: 6px;
              border-radius: 6px;
      cursor: pointer;
      text-transform: uppercase; }
      .map-tabs__wrapper .map__tabs .tab.active {
        background-color: #fff;
        color: #0f594d; }
      .map-tabs__wrapper .map__tabs .tab:first-child {
        -webkit-border-radius: 6px 0 0 6px;
           -moz-border-radius: 6px 0 0 6px;
                border-radius: 6px 0 0 6px; }
      .map-tabs__wrapper .map__tabs .tab:last-child {
        -webkit-border-radius: 0 6px 6px 0;
           -moz-border-radius: 0 6px 6px 0;
                border-radius: 0 6px 6px 0; }
  .map-tabs__wrapper .tab_content {
    display: block;
    font-size: 25px; }

.dizaap__contacts {
  text-align: left; }
  .dizaap__contacts p {
    display: block; }
  .dizaap__contacts span {
    display: block; }

.top__contacts {
  display: block;
  margin: 20px; }

.description__button {
  background: #9469A2;
  color: #fff;
  margin-top: 10px;
  padding: 3px 100px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase; }
  .description__button:hover {
    background-color: rgba(152, 24, 24, 0.9); }

.smart__contacts {
  margin-top: 50px;
  position: relative; }
  .smart__contacts span:first-child {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-image: url(../img/flower.svg);
    background-position: 13% 0%; }
  .smart__contacts span:last-child {
    display: block; }

.logo__dizaap {
  line-height: 200px; }
  .logo__dizaap span {
    background-image: url(../img/flower.svg);
    background-position: 53% 100%;
    width: 237px;
    height: 40px;
    display: inline-block; }
