@charset "UTF-8";
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .header__logo,
  .header__tel {
    font-size: 35px !important;
    padding: 0 !important; }
  .slider__teaser {
    font-size: 25px !important; }
  .slider__img {
    height: 200px !important; }
  .carousel-caption {
    margin-top: 0px !important; }
  .slidesjs-pagination {
    bottom: 0% !important; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header__description {
    margin-top: 30px !important; }
    .header__description h3 {
      font-size: 30px !important; }
  .video__description {
    padding: 0px 20px !important; }
    .video__description p {
      font-size: 14px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header__logo,
  .header__tel {
    float: none !important;
    text-align: center !important; }
  .header__description {
    margin-top: 0px !important; }
    .header__description h3 {
      display: inline-block;
      text-align: center;
      font-size: 25px !important; }
  .description__tabs--button {
    margin: 0 !important; }
  .video__description {
    display: none !important; }
  .video__wrap {
    width: 100% !important; }
  .slider__teaser {
    font-size: 25px !important; }
  .slidesjs-previous {
    width: 100px !important; }
  .slidesjs-next {
    width: 100px !important; }
  .carousel-caption p {
    font-size: 16px !important; }
  .slider__img {
    height: 150px !important; }
  .section4 h3 {
    font-size: 25px !important; }
  .section4 h4 {
    display: none !important; }
  .section4 .tech__info {
    margin-top: 20px !important;
    font-size: 14px !important; }
  .footer {
    padding: 0 0 !important; }
    .footer .container {
      display: block !important;
      position: static !important; }
      .footer .container h3 {
        font-size: 26px; }
      .footer .container div {
        display: block !important;
        position: static !important;
        margin: 15px; }
      .footer .container button {
        font-size: 15px; }
      .footer .container .smart__contacts {
        display: none !important; }
      .footer .container .dizaap__contacts {
        text-align: center; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header__logo,
  .header__tel {
    font-size: 27px !important; }
  .header__description {
    margin-top: 10px !important; }
    .header__description h3 {
      display: none !important; }
  .description__tabs {
    margin-top: 20px; }
  .description__tabs .tab {
    font-size: 16px !important;
    padding: 5px 10px !important; }
  .description-tabs__wrapper .tab_content {
    font-size: 16px !important;
    padding: 5px 20px !important; }
  .description__tabs--button {
    font-size: 12px !important;
    padding: 5px 40px !important; }
  .slider__teaser {
    padding: 0 !important;
    font-size: 16px !important; }
  .carousel-caption {
    margin-top: 0 !important; }
    .carousel-caption p {
      font-size: 13px !important; }
  .slider__img {
    height: 150px !important; }
  .slidesjs-previous {
    width: 70px !important; }
  .slidesjs-next {
    width: 70px !important; }
  .slidesjs-pagination {
    bottom: 0% !important; }
  .tech__info p {
    font-size: 11px !important; }
  .section4 {
    padding-top: 10px !important; }
    .section4 h3 {
      font-size: 15px !important; }
  .smart__contacts {
    display: none !important; } }

/*-------------height 600px 480px-------------*/
@media only screen and (max-height: 480px) {
  .header__description h3 {
    display: none; }
  .video__description {
    display: none !important; }
  .slidesjs-container {
    height: 480px !important; }
  .slider__teaser {
    display: none !important; }
  .slider__img {
    margin-top: 20px !important;
    max-height: 150px; }
  .carousel-caption {
    font-size: 14px !important;
    margin-top: 15px !important; }
  .slidesjs-pagination {
    bottom: 0% !important; }
  .section4 {
    padding: 0 !important; }
    .section4 h4 {
      display: none !important; }
  .tech__info {
    font-size: 13px !important; }
  .footer {
    padding: 0 0 !important; }
    .footer .container {
      display: block;
      position: static; }
      .footer .container h3 {
        font-size: 26px; }
      .footer .container div {
        display: block;
        position: static;
        margin: 15px; }
      .footer .container button {
        font-size: 15px; }
      .footer .container .smart__contacts {
        display: none !important; } }

@media only screen and (max-height: 600px) {
  .header__logo,
  .header__tel {
    padding: 0 !important; }
  .header__description {
    margin-top: 30px !important; }
  .header__description {
    margin-top: 30px !important; }
    .header__description h3 {
      font-size: 25px !important; }
  .video__description {
    padding: 0px 30px !important; }
  .slidesjs-container {
    height: 600px !important; }
  .slider__img {
    margin-top: 0px !important; }
  .section4 h3 {
    font-size: 30px; }
  .section4 h4 {
    font-size: 20px !important; }
  .tech__info {
    margin-top: 20px !important;
    font-size: 14px; } }

@media only screen and (max-height: 800px) {
  .slidesjs-container {
    height: 800px !important; }
    .slidesjs-container .slider__img {
      margin-top: 0px !important; } }

@media only screen and (max-height: 1024px) {
  .slidesjs-container {
    height: 1024px !important; } }

@media only screen and (max-height: 1280px) {
  .slidesjs-container {
    height: 1280px !important; } }

@media screen and (max-width: 600px) and (max-height: 600px) {
  .footer {
    padding: 0 0 !important; }
    .footer .container {
      display: block;
      position: static; }
      .footer .container h3 {
        font-size: 26px; }
      .footer .container div {
        display: block;
        position: static;
        margin: 15px; }
      .footer .container p {
        font-size: 17px; }
      .footer .container button {
        font-size: 15px; }
      .footer .container .dizaap__contacts {
        margin-top: 30px;
        text-align: center; } }

/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*------------- adjustment -------------*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: "helvetica", sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;
  overflow-x: hidden; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  list-style: none; }

p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.tabs {
  cursor: pointer; }

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.wrapper,
.visible__page,
.page {
  height: 100%;
  width: 100%; }

.visible__page {
  position: relative;
  top: 0%;
  -webkit-transition: top 1s;
  -o-transition: top 1s;
  -moz-transition: top 1s;
  transition: top 1s; }

.page {
  position: relative;
  overflow: hidden; }

.wrapper {
  overflow: hidden; }

.container {
  width: 85%;
  margin: 0 auto;
  height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

/*------------- input -------------*/
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
  border-color: red; }

body input:required:valid,
body textarea:required:valid {
  color: #67bc5c;
  border-color: #67bc5c; }

/*------------- отмена выделения -------------*/
body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/*------------- img -------------*/
.img_info {
  margin-left: 0;
  padding-left: 0; }

/*------------- IE -------------*/
header,
nav,
section,
article,
aside,
footer {
  display: block; }

@font-face {
  font-family: helvetica;
  src: url("../fonts/helvetica/HelveticaNeueCyr-Black.otf");
  font-weight: 900; }

@font-face {
  font-family: helvetica;
  src: url("../fonts/helvetica/HelveticaNeueCyr-Bold.otf");
  font-weight: 700; }

@font-face {
  font-family: helvetica;
  src: url("../fonts/helvetica/HelveticaNeueCyr-Light.otf");
  font-weight: 300; }

@font-face {
  font-family: helvetica;
  src: url("../fonts/helvetica/HelveticaNeueCyr-Roman.otf");
  font-weight: 600; }

@font-face {
  font-family: helvetica;
  src: url("../fonts/helvetica/HelveticaNeueCyr-Thin.otf");
  font-weight: 100; }

/*------------- breakpoints -------------*/
/*------------- media queries -------------*/
/*------------- center vertically and/or horizontally
an absolute positioned element -------------*/
/*------------- antialiasing mode font rendering -------------*/
/*------------- clearfix -------------*/
/*------------- header -------------*/
.header {
  background-image: url("../img/1st-page.jpg");
  background-repeat: no-repeat;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;
  background-position: right;
  color: white;
  font-weight: bold; }

.header__top {
  display: block;
  padding-top: 40px; }
  .header__top:after, .header__top:before {
    display: table;
    content: ""; }
  .header__top:after {
    clear: both; }

.header__logo {
  font-size: 50px;
  float: left;
  font-weight: 700;
  display: block; }

.logo__icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -8px;
  height: 50px;
  width: 50px;
  background-image: url(../img/flower.svg);
  background-position: top left; }

.logo__title {
  color: #fff; }

.header__tel {
  text-align: right;
  float: right;
  font-size: 40px;
  padding-top: 12px;
  display: block; }

.header-tabs__wrapper .active {
  color: #981818;
  text-decoration: underline; }

.header__description {
  margin-top: 3%; }
  .header__description h3 {
    font-size: 35px;
    font-weight: 300;
    padding: 0;
    margin: 0; }

.description-tabs__wrapper {
  font-weight: 300;
  margin-top: 2%;
  max-width: 630px; }

.description__tabs {
  padding: 0; }

.description__tabs .tab {
  display: inline-block;
  font-size: 20px;
  padding: 10px 50px;
  margin: 0;
  -webkit-transition: .25s ease;
  -o-transition: .25s ease;
  -moz-transition: .25s ease;
  transition: .25s ease;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.2); }
  .description__tabs .tab.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff; }
  .description__tabs .tab:last-child {
    margin-left: -5px; }

.description-tabs__wrapper .tab_content {
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  color: #fff;
  padding: 10px 46px;
  min-height: 183px; }
  .description-tabs__wrapper .tab_content:after, .description-tabs__wrapper .tab_content:before {
    display: table;
    content: ""; }
  .description-tabs__wrapper .tab_content:after {
    clear: both; }
  .description-tabs__wrapper .tab_content li {
    display: table;
    padding: 5px; }
    .description-tabs__wrapper .tab_content li span:first-child {
      display: inline-block;
      vertical-align: middle;
      width: 50px;
      height: 50px;
      background-image: url(../img/flower.svg); }
    .description-tabs__wrapper .tab_content li span:last-child {
      display: table-cell;
      vertical-align: middle;
      padding: 0 15px; }

.dt1 {
  background-position: 0% 47.4%; }

.dt2 {
  background-position: 21.9% 47.4%; }

.dt3 {
  background-position: 46.1% 47.4%; }

.dt4 {
  background-position: 100% 47.4%; }

.dt5 {
  background-position: 87.4% 47.4%; }

.dt6 {
  background-position: 76.4% 47.4%; }

.description__tabs--button {
  display: inline-block;
  padding: 12px 40px;
  margin: -50px 0 20px 0;
  font-size: 14px;
  font-weight: 300;
  background-color: #981818;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  text-transform: uppercase;
  float: right; }
  .description__tabs--button a {
    color: #fff; }

/*------------- section2 video -------------*/
.section2 {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }
  .section2:after, .section2:before {
    display: table;
    content: ""; }
  .section2:after {
    clear: both; }
  .section2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 47%;
    width: 100%; }
  .section2:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 47%;
    width: 100%; }

.video__description {
  display: table;
  width: 25%;
  height: 100%;
  padding: 30px 70px;
  font-size: 18px;
  float: left; }
  .video__description h4 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 19%;
    font-weight: 700; }
  .video__description p {
    text-align: center;
    font-weight: 100; }
  .video__description span {
    display: table-cell;
    position: relative;
    vertical-align: middle; }

.video__wrap {
  width: 75%;
  height: 100%;
  float: left;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.3); }

/*------------- section 3 slider-------------*/
.section3 {
  text-align: center;
  background-image: url(../img/header_bg.jpg);
  background-attachment: fixed;
  background-position: right bottom;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover; }
  .section3:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.75); }

.slider__teaser {
  display: block;
  position: relative;
  width: 100%;
  padding: 15px;
  text-align: center;
  font-weight: 300;
  font-size: 43px;
  vertical-align: middle;
  line-height: 60px;
  margin: 0;
  color: #333; }

.slider__img {
  margin-top: 50px;
  display: inline-block;
  -webkit-border-radius: 150px;
     -moz-border-radius: 150px;
          border-radius: 150px;
  height: 250px; }

.carousel-caption {
  max-width: 60%;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 18px; }

#slides {
  display: none; }

a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  z-index: 40; }

a.slidesjs-previous {
  display: block;
  position: absolute;
  width: 200px;
  background: -webkit-gradient(linear, left top, right top, from(#c7c7c7), to(transparent));
  background: -webkit-linear-gradient(left, #c7c7c7, transparent);
  background: -moz-linear-gradient(left, #c7c7c7, transparent);
  background: -o-linear-gradient(left, #c7c7c7, transparent);
  background: linear-gradient(to right, #c7c7c7, transparent);
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%; }

a.slidesjs-previous:before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '\2329';
  font-size: 60px;
  height: 100px;
  color: #666;
  overflow: hidden;
  text-indent: -0.8px;
  cursor: pointer; }

a.slidesjs-previous:hover {
  background: -webkit-gradient(linear, left top, right top, from(#999), to(transparent));
  background: -webkit-linear-gradient(left, #999, transparent);
  background: -moz-linear-gradient(left, #999, transparent);
  background: -o-linear-gradient(left, #999, transparent);
  background: linear-gradient(to right, #999, transparent); }

a.slidesjs-previous:hover:before {
  color: #981818; }

a.slidesjs-next {
  display: block;
  position: absolute;
  width: 200px;
  background: -webkit-gradient(linear, right top, left top, from(#c7c7c7), to(transparent));
  background: -webkit-linear-gradient(right, #c7c7c7, transparent);
  background: -moz-linear-gradient(right, #c7c7c7, transparent);
  background: -o-linear-gradient(right, #c7c7c7, transparent);
  background: linear-gradient(to left, #c7c7c7, transparent);
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%; }

a.slidesjs-next:before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '\232A';
  font-size: 60px;
  color: #666;
  height: 100px;
  overflow: hidden;
  text-indent: -0.8px;
  cursor: pointer; }

a.slidesjs-next:hover {
  background: -webkit-gradient(linear, right top, left top, from(#999), to(transparent));
  background: -webkit-linear-gradient(right, #999, transparent);
  background: -moz-linear-gradient(right, #999, transparent);
  background: -o-linear-gradient(right, #999, transparent);
  background: linear-gradient(to left, #999, transparent); }

a.slidesjs-next:hover:before {
  color: #981818; }

.slidesjs-pagination {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1%;
  margin: auto;
  display: block;
  width: 100px;
  margin-bottom: 50px;
  list-style: none;
  z-index: 50; }

.slidesjs-pagination li {
  float: left;
  margin: 0 3px; }

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(../img/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden; }

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px; }

.slidesjs-pagination li a:hover {
  background-position: 0 -26px; }

/*------------- section4 -------------*/
.section4 {
  background-color: #F8F6F7;
  padding-top: 30px; }
  .section4 h3 {
    font-weight: 300;
    font-size: 40px;
    margin: 0; }
  .section4 h4 {
    font-weight: 300;
    font-size: 30px;
    margin: 0; }

.tech__info {
  margin-top: 40px;
  font-weight: 600; }
  .tech__info:after, .tech__info:before {
    display: table;
    content: ""; }
  .tech__info:after {
    clear: both; }
  .tech__info .left__info {
    float: left;
    width: 50%; }
    .tech__info .left__info p {
      width: 75%; }
  .tech__info .right__info {
    float: right;
    width: 50%; }

.tech__img {
  width: 100%; }

/*------------- section5 -------------*/
.footer {
  text-align: center;
  background-image: url(../img/last-page.jpg);
  background-position: right bottom;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;
  padding: 50px 0; }
  .footer .container {
    position: relative; }

.footer__request {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto; }
  .footer__request h3 {
    font-size: 50px;
    color: #fff;
    font-weight: 300;
    margin: 0; }

.footer__top-button {
  background-color: rgba(152, 24, 24, 0.8);
  margin-top: 10px;
  padding: 3px 60px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase; }
  .footer__top-button a {
    color: #fff; }
  .footer__top-button:hover {
    background-color: rgba(152, 24, 24, 0.9); }

.dizaap__contacts {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: left;
  color: #fff;
  height: 215px; }
  .dizaap__contacts p {
    display: inline-block;
    font-size: 18px; }
  .dizaap__contacts span {
    display: block; }

.smart__contacts {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 200px; }
  .smart__contacts span:first-child {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-image: url(../img/flower.svg);
    background-position: 13% 0%; }
  .smart__contacts span:last-child {
    display: block;
    color: #fff;
    font-weight: 700; }

.logo__dizaap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }
  .logo__dizaap span {
    background-image: url(../img/flower.svg);
    background-position: 53% 100%;
    width: 237px;
    height: 40px;
    display: inline-block; }

/*------------- hidden form -------------*/
.b-popup {
  display: none; }

.b-popup .b-popup-content {
  background-color: #c5c5c5; }

.b-popup {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index: 500; }

.hidden__form--wrapper {
  display: block;
  position: absolute;
  z-index: 222;
  width: 35%;
  height: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 500;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  border: 4px solid #981818; }

.callback__form {
  padding: 20px 25px;
  background-color: #fff;
  font-size: 18px;
  vertical-align: middle;
  z-index: 500; }
  .callback__form h4 {
    margin: 0;
    font-size: 25px;
    color: #333; }
  .callback__form div {
    margin: 15px 0; }
  .callback__form input {
    padding: 5px 10px;
    font-size: 18px;
    display: block;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    width: 100%; }
  .callback__form span {
    display: block; }
  .callback__form button {
    margin-top: 20px;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer; }
  .callback__form a {
    position: absolute;
    top: 0;
    right: 0px;
    display: block;
    color: #981818;
    text-transform: uppercase;
    padding: 10px 20px; }
    .callback__form a:hover {
      background-color: rgba(152, 24, 24, 0.1); }
