// colors
$c1: #0f594d; // Eden
$c2: #93a748; // Sushi
$c3: #f2e6cd; // Janna
$c4: #db9537; // Brandy Punch
$c5: #bf5138; // Mojo
$c6: #7AC254; // green
$c7: #DD443C; // red
$c8: #FBE338; // yellow
$c9: #9794A5; // blue-grey
$c10: #91A8D1; //dirty-blue
$c11: #0D4D8B; //blue
$c12: #9DD9E1; //light-blue
$c13: #F9CBCD; //pink-grey
$c14: #F3796E; //pink
//2017 colors
$c15: #3C3C3C; //dark-metalic
$c16: #CB0504; //dark-red
$c17: #C1C1C3; //light-metalic
$c18: #282F39; //dark-metalic-blue
$c19: #EEEEEC; //dirty-white
$c20: #3E5A25; //dark-green
$c21: #FF8B8C; // org pink
$c22: #FEBA8B; // org pink-grey
$c23: #F8FF8D; // org yellow
$c24: #AEFE8B; // org green
$c25: #8CC7FF; // org blue
// fonts
$pr-font: 'Open Sans',
sans-serif;
$sec-font: 'Merriweather',
serif;
