@font-face {
    font-family: helvetica;
    src: url('../fonts/helvetica/HelveticaNeueCyr-Black.otf');
    font-weight: 900;
}

@font-face {
    font-family: helvetica;
    src: url('../fonts/helvetica/HelveticaNeueCyr-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: helvetica;
    src: url('../fonts/helvetica/HelveticaNeueCyr-Light.otf');
    font-weight: 300;
}

@font-face {
    font-family: helvetica;
    src: url('../fonts/helvetica/HelveticaNeueCyr-Roman.otf');
    font-weight: 600;
}

@font-face {
    font-family: helvetica;
    src: url('../fonts/helvetica/HelveticaNeueCyr-Thin.otf');
    font-weight: 100;
}
