/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    .header__logo,
    .header__tel {
        font-size: 35px !important;
        padding: 0 !important;
    }
    .slider__teaser {
        font-size: 25px !important;
    }
    .slider__img {
        height: 200px !important;
    }
    .carousel-caption {
        margin-top: 0px !important;
    }
    .slidesjs-pagination {
        bottom: 0% !important;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .header__description {
        margin-top: 30px !important;
        h3 {
            font-size: 30px !important;
        }
    }
    .video__description {
        padding: 0px 20px !important;
        p {
            font-size: 14px;
        }
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .header__logo,
    .header__tel {
        float: none !important;
        text-align: center !important;
    }
    .header__description {
        margin-top: 0px !important;
        h3 {
            display: inline-block;
            text-align: center;
            font-size: 25px !important;
        }
    }
    .description__tabs--button {
        margin: 0 !important;
    }
    .video__description {
        display: none !important;
    }
    .video__wrap {
        width: 100% !important;
    }
    .slider__teaser {
        font-size: 25px !important;
    }
    .slidesjs-previous {
        width: 100px !important;
    }
    .slidesjs-next {
        width: 100px !important;
    }
    .carousel-caption p {
        font-size: 16px !important;
    }
    .slider__img {
        height: 150px !important;
    }
    .section4 {
        h3 {
            font-size: 25px !important;
        }
        h4 {
            display: none !important;
        }
        .tech__info {
            margin-top: 20px !important;
            font-size: 14px !important;
        }
    }
    .footer {
        padding: 0 0 !important;
        .container {
            display: block !important;
            position: static !important;
            h3 {
                font-size: 26px;
            }
            div {
                display: block !important;
                position: static !important;
                margin: 15px;
            }
            button {
                font-size: 15px;
            }
            .smart__contacts {
                display: none !important;
            }
            .dizaap__contacts {
                text-align: center;
            }
        }
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .header__logo,
    .header__tel {
        font-size: 27px !important;
    }
    .header__description {
        margin-top: 10px !important;
        h3 {
            display: none !important;
        }
    }
    .description__tabs {
        margin-top: 20px;
    }
    .description__tabs .tab {
        font-size: 16px !important;
        padding: 5px 10px !important;
    }
    .description-tabs__wrapper .tab_content {
        font-size: 16px !important;
        padding: 5px 20px !important;
    }
    .description__tabs--button {
        font-size: 12px !important;
        padding: 5px 40px !important;
    }
    .slider__teaser {
        padding: 0 !important;
        font-size: 16px !important;
    }
    .carousel-caption {
        margin-top: 0 !important;
        p {
            font-size: 13px !important;
        }
    }
    .slider__img {
        height: 150px !important;
    }
    .slidesjs-previous {
        width: 70px !important;
    }
    .slidesjs-next {
        width: 70px !important;
    }
    .slidesjs-pagination {
        bottom: 0% !important;
    }
    .tech__info p {
        font-size: 11px !important;
    }
    .section4 {
        padding-top: 10px !important;
        h3 {
            font-size: 15px !important;
        }
    }
    .smart__contacts {
        display: none !important;
    }
    #modal1Title {
        display: none !important;
    }
}


/*-------------height 600px 480px-------------*/

@media only screen and (max-height: 480px) {
    .header__description h3 {
        display: none;
    }
    .video__description {
        display: none !important;
    }
    .slidesjs-container {
        height: 480px !important;
    }
    .slider__teaser {
        display: none !important;
    }
    .slider__img {
        margin-top: 20px !important;
        max-height: 150px;
    }
    .carousel-caption {
        font-size: 14px !important;
        margin-top: 15px !important;
    }
    .slidesjs-pagination {
        bottom: 0% !important;
    }
    .section4 {
        padding: 0 !important;
        h4 {
            display: none !important;
        }
    }
    .tech__info {
        font-size: 13px !important;
    }
    .footer {
        padding: 0 0 !important;
        .container {
            display: block;
            position: static;
            h3 {
                font-size: 26px;
            }
            div {
                display: block;
                position: static;
                margin: 15px;
            }
            button {
                font-size: 15px;
            }
            .smart__contacts {
                display: none !important;
            }
        }
    }
}

@media only screen and (max-height: 600px) {
    .header__logo,
    .header__tel {
        padding: 0 !important;
    }
    .header__description {
        margin-top: 30px !important;
    }
    .header__description {
        margin-top: 30px !important;
        h3 {
            font-size: 25px !important;
        }
    }
    .video__description {
        padding: 0px 30px !important;
    }
    .slidesjs-container {
        height: 600px !important;
    }
    .slider__img {
        margin-top: 0px !important;
    }
    .section4 {
        h3 {
            font-size: 30px;
        }
        h4 {
            font-size: 20px !important;
        }
    }
    .tech__info {
        margin-top: 20px !important;
        font-size: 14px;
    }
}

@media only screen and (max-height: 800px) {
    .slidesjs-container {
        height: 800px !important;
        .slider__img {
            margin-top: 0px !important;
        }
    }
}

@media only screen and (max-height: 1024px) {
    .slidesjs-container {
        height: 1024px !important;
    }
}

@media only screen and (max-height: 1280px) {
    .slidesjs-container {
        height: 1280px !important;
    }
}

@media screen and (max-width:600px) and (max-height:600px) {
    .footer {
        padding: 0 0 !important;
        .container {
            display: block;
            position: static;
            h3 {
                font-size: 26px;
            }
            div {
                display: block;
                position: static;
                margin: 15px;
            }
            p {
                font-size: 17px;
            }
            button {
                font-size: 15px;
            }
            .dizaap__contacts {
                margin-top: 30px;
                text-align: center;
            }
        }
    }
}


/* Custom, iPhone Retina */


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}
