/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .reason__title {
        font-size: 30px !important;
    }
    .header__logo,
    .header__tel {
        text-align: center !important;
    }
    .header__logo {
        margin-bottom: 15px;
    }
    .header__description {
        margin-top: 40px !important;
    }
    .header__description h1 {
        font-size: 25px;
        text-align: center;
        color: $blue-color;
    }
    .header__description h2 {
        font-size: 16px;
        color: #fff;
        text-align: center;
    }
    .header__tel .tab_item {
        font-size: 23px !important;
    }
    .logo__title {
        font-size: 25px;
    }
    .description-tabs__wrapper .tab_content {
        font-size: 15px !important;
        padding: 15px 20px !important;
    }
    .description-tabs__wrapper {
        margin-left: 0 !important;
    }
    .codrops__list {
        display: none;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .description__tabs .tab {
        font-size: 15px !important;
    }
    .description-tabs__wrapper .tab_content {
        display: none;
    }
    .header__description h1 {
        color: #fff;
        margin-bottom: 20px;
    }
    .header__description h2 {
        display: none !important;
    }
    .description__tabs {
        display: none;
    }
    .description__button {
        bottom: -50px !important;
        left: 0 !important;
        right: 0 !important;
        margin: 0 auto !important;
    }
}


/* Custom, iPhone Retina */

@media only (min-width: 750px) and (max-width: 840px) {}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}
