/*------------- adjustment -------------*/

$text-color: #333;
$red-color: #981818;
$blue-color: #003469;
$green-color: #67bc5c;
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto regular", sans-serif;
    color: $text-color;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
}

h1 {
    font-family: 'CleanvertisingLight', sans-serif;
    color: #fff;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

h2 {
    color: $blue-color;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.tabs {
    cursor: pointer;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
:before,
:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit
}

.wrapper,
.visible__page,
.page {
    height: 100%;
    width: 100%;
}

.visible__page {
    position: relative;
    top: 0%;
    transition: top 1s;
}

.page {
    position: relative;
}

.wrapper {
    overflow: hidden;
}

.container {
    width: 85%;
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
}


/*------------- input -------------*/

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    color: red;
    border-color: red;
}

body input:required:valid,
body textarea:required:valid {
    color: $green-color;
    border-color: $green-color;
}


/*------------- отмена выделения -------------*/

body {
    user-select: none;
}


/*------------- img -------------*/

.img_info {
    margin-left: 0;
    padding-left: 0;
}


/*------------- IE -------------*/

header,
nav,
section,
article,
aside,
footer {
    display: block
}


/*------------- go -------------*/
