@import "modules";
@import "fonts";
@import "media";
@import "mixins/layout";
@import "mixins/mixins";
@import "mixins/variables";

/*------------- header -------------*/

.header {
    background-image: url('../img/header__bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    color: white;
    font-family: "RobotoBold", sans-serif;
    font-weight: bold;
}

.header__top {
    padding-top: 40px;
}

.header__logo {
    font-size: 40px;
}

.logo__icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -8px;
    height: 50px;
    width: 50px;
    background-image: url(../img/flower.svg);
    background-position: top left;
    svg {
        fill: #fff;
    }
}

.logo__title {
    color: #fff;
}

.header__tel {
    text-align: right;
}

.header-tabs__wrapper .active {
    color: $red-color;
    text-decoration: underline;
}

.header-tabs__wrapper {
    .header__tabs {
        display: block;
        font-size: 18px;
        span {
            display: block;
        }
    }
    .tab_item {
        font-size: 31px;
    }
}

.header__description {
    margin-top: 80px;
}

.description-tabs__wrapper {
    margin-top: 20px;
}

.description__tabs {
    padding: 0;
}

.description__tabs .tab {
    font-size: 20px;
    background-color: rgba(#fff, .25);
    padding: 15px 0px 15px 50px;
    margin: 0;
    transition: .25s ease;
    text-align: left;
    position: relative;
    &.active {
        background-color: rgba(#fff, .60);
        color: $blue-color;
        .description-tabs__ico {
            display: block !important;
        }
    }
}

.description-tabs__ico {
    display: none;
    background-image: url(../img/flower.svg);
    width: 50px;
    height: 50px;
    position: absolute;
    right: -25px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
}

.page {
    box-sizing: border-box;
}

.tabs__ico-1 {
    background-position: 100% 21%;
}

.tabs__ico-2 {
    background-position: 50% 21%;
}

.tabs__ico-3 {
    background-position: 0% 21%;
}

.description-tabs__wrapper .tab_content {
    background-color: rgba(#fff, .60);
    font-size: 18px;
    color: $text-color;
    padding: 12px 60px;
    min-height: 183px;
}

.section2 {
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(#fff, .9);
    }
}

.teaser {
    position: relative;
    background: linear-gradient(#97B8D9, #C1D4E9);
    text-align: center;
    height: 100px;
    img {
        display: block;
        height: 100%;
        padding: 10px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
}

.reason__title {
    font-size: 40px;
    text-align: center;
    margin: 30px 0;
    position: relative;
}

.reason__list {
    display: inline-block;
    height: 100%;
    padding: 0px 20px 20px 80px;
}

.reason__list-item {
    font-size: 18px;
    padding-bottom: 20px;
}

.reason__list-item .reason__list-icon {
    display: block;
    position: absolute;
    left: 0;
    margin-top: 5px;
    height: 50px;
    width: 50px;
    background-image: url(../img/flower.svg);
    background-repeat: no-repeat;
}

.rli1 {
    background-position: 0% 47.4%;
}

.rli2 {
    background-position: 100% 47.4%;
}

.rli3 {
    background-position: 22% 47.4%;
}

.rli4 {
    background-position: 76.4% 47.4%;
}

.rli5 {
    background-position: 46.1% 47.4%;
}

.contact-form {
    text-align: center;
    border: 2px solid $green-color;
    display: inline-block;
    padding: 20px;
}

.contact-form__label {
    h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    input {
        display: block;
        padding: 5px;
        border-radius: 5px;
        border: 2px solid $green-color;
        margin: 10px auto;
    }
    button {
        margin-top: 20px;
        padding: 15px 20px;
        background-color: rgba($green-color, .9);
        border-radius: 5px;
        &:hover {
            background-color: rgba($green-color, 1);
        }
    }
}

.section3 {
    background-image: url(../img/header_bg.jpg);
    background-attachment: fixed;
    background-position: right bottom;
    background-size: cover;
}

.section3__slider {
    background-color: rgba(#fff, 0.75);
    height: 100%;
    padding: 0;
}

.carousel {
    height: 100%;
    display: block;
}

.carousel-inner {
    text-align: center !important;
}

.carousel-img {
    position: relative;
}

.carousel-caption {
    font-size: 20px;
    color: $text-color;
    text-shadow: none;
    display: block;
    position: relative;
    width: 50%;
    padding: 0;
    margin: 40px 0 5px 60px !important;
}

.carousel-indicators li {
    vertical-align: center;
    border: 3px solid #c7c7c7;
    padding: 6px;
}

.section4 {
    text-align: center;
}

.map-tabs__wrapper {
    text-align: center;
    .map__tabs {
        font-size: 16px;
        display: inline-block;
        .tab {
            border: 2px solid $c9;
            background: $c9;
            float: left;
            color: #fff;
            padding: 3px 100px;
            border-radius: 6px;
            cursor: pointer;
            text-transform: uppercase;
            &.active {
                background-color: #fff;
                color: $c1;
            }
            &:first-child {
                border-radius: 6px 0 0 6px;
            }
            &:last-child {
                border-radius: 0 6px 6px 0;
            }
        }
    }
    .tab_content {
        display: block;
        font-size: 25px;
    }
}

.dizaap__contacts {
    text-align: left;
    p {
        display: block;
    }
    span {
        display: block;
    }
}

.top__contacts {
    display: block;
    margin: 20px;
}

.description__button {
    background: #9469A2;
    color: #fff;
    margin-top: 10px;
    padding: 3px 100px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    &:hover {
        background-color: rgba($red-color, .9);
    }
}

.smart__contacts {
    margin-top: 50px;
    position: relative;
    span:first-child {
        display: inline-block;
        height: 100px;
        width: 100px;
        background-image: url(../img/flower.svg);
        background-position: 13% 0%;
    }
    span:last-child {
        display: block;
    }
}

.logo__dizaap {
    line-height: 200px;
    span {
        background-image: url(../img/flower.svg);
        background-position: 53% 100%;
        width: 237px;
        height: 40px;
        display: inline-block;
    }
}
