@import "media";
@import "modules";
@import "fonts";
@import "mixins/layout";
@import "mixins/mixins";
@import "mixins/variables";

/*------------- header -------------*/

.header {
    background-image: url('../img/1st-page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    color: white;
    font-weight: bold;
}

.header__top {
    display: block;
    padding-top: 40px;
    @include clearfix;
}

.header__logo {
    font-size: 50px;
    float: left;
    font-weight: 700;
    display: block;
}

.logo__icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -8px;
    height: 50px;
    width: 50px;
    background-image: url(../img/flower.svg);
    background-position: top left;
}

.logo__title {
    color: #fff;
}

.header__tel {
    text-align: right;
    float: right;
    font-size: 40px;
    padding-top: 12px;
    display: block;
}

.header-tabs__wrapper .active {
    color: $red-color;
    text-decoration: underline;
}

.header__description {
    margin-top: 3%;
    h3 {
        font-size: 35px;
        font-weight: 300;
        padding: 0;
        margin: 0;
    }
}

.description-tabs__wrapper {
    font-weight: 300;
    margin-top: 2%;
    max-width: 630px;
}

.description__tabs {
    padding: 0;
}

.description__tabs .tab {
    display: inline-block;
    font-size: 20px;
    padding: 10px 50px;
    margin: 0;
    transition: .25s ease;
    text-align: left;
    background-color: rgba(#000, .2);
    &.active {
        background-color: rgba(#000, .3);
        color: #fff;
    }
    &:last-child {
        margin-left: -5px;
    }
}

.description-tabs__wrapper .tab_content {
    background-color: rgba(#000, .3);
    font-size: 18px;
    color: #fff;
    padding: 10px 46px;
    min-height: 183px;
    @include clearfix;
    li {
        display: table;
        padding: 5px;
        span:first-child {
            display: inline-block;
            vertical-align: middle;
            width: 50px;
            height: 50px;
            background-image: url(../img/flower.svg);
        }
        span:last-child {
            display: table-cell;
            vertical-align: middle;
            padding: 0 15px;
        }
    }
}

.dt1 {
    background-position: 0% 47.4%;
}

.dt2 {
    background-position: 76.4% 47.4%;
}

.dt3 {
    background-position: 46.1% 47.4%;
}

.dt4 {
    background-position: 76.4% 47.4%;
}

.dt5 {
    background-position: 46.1% 47.4%;
}

.description__tabs--button {
    display: inline-block;
    padding: 12px 40px;
    margin: -50px 0 20px 0;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    background-color: $red-color;
    border-radius: 4px;
    text-transform: uppercase;
    float: right;
}


/*------------- section2 video -------------*/

.section2 {
    @include clearfix;
    box-sizing: border-box;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 47%;
        width: 100%;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 47%;
        width: 100%;
    }
}

.video__description {
    display: table;
    width: 25%;
    height: 100%;
    padding: 30px 70px;
    font-size: 18px;
    float: left;
    h4 {
        font-size: 26px;
        text-align: center;
        margin-bottom: 19%;
        font-weight: 700;
    }
    p {
        text-align: center;
        font-weight: 100;
    }
    span {
        display: table-cell;
        position: relative;
        vertical-align: middle;
    }
}

.video__wrap {
    width: 75%;
    height: 100%;
    float: left;
    box-shadow: 0 0 50px rgba(#000, .3);
}


/*------------- section 3 slider-------------*/

.section3 {
    text-align: center;
    background-image: url(../img/header_bg.jpg);
    background-attachment: fixed;
    background-position: right bottom;
    background-size: cover;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(#fff, 0.75);
    }
}

.slider__teaser {
    display: block;
    position: relative;
    width: 100%;
    padding: 15px;
    text-align: center;
    font-weight: 300;
    font-size: 43px;
    vertical-align: middle;
    line-height: 60px;
    margin: 0;
    color: $text-color;
}

.slider__img {
    margin-top: 50px;
    display: inline-block;
    border-radius: 150px;
    height: 250px;
}

.carousel-caption {
    max-width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 18px;
}

#slides {
    display: none
}

a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop {
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    z-index: 40;
}

a.slidesjs-previous {
    display: block;
    position: absolute;
    width: 200px;
    background: linear-gradient(to right, #c7c7c7, rgba(0, 0, 0, 0));
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

a.slidesjs-previous:before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '\2329';
    font-size: 60px;
    height: 100px;
    color: #666;
    overflow: hidden;
    text-indent: -0.8px;
    cursor: pointer;
}

a.slidesjs-previous:hover {
    background: linear-gradient(to right, #999, rgba(0, 0, 0, 0));
}

a.slidesjs-previous:hover:before {
    color: $red-color;
}

a.slidesjs-next {
    display: block;
    position: absolute;
    width: 200px;
    background: linear-gradient(to left, #c7c7c7, rgba(0, 0, 0, 0));
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
}

a.slidesjs-next:before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '\232A';
    font-size: 60px;
    color: #666;
    height: 100px;
    overflow: hidden;
    text-indent: -0.8px;
    cursor: pointer;
}

a.slidesjs-next:hover {
    background: linear-gradient(to left, #999, rgba(0, 0, 0, 0));
}

a.slidesjs-next:hover:before {
    color: $red-color;
}

.slidesjs-pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1%;
    margin: auto;
    display: block;
    width: 100px;
    margin-bottom: 50px;
    list-style: none;
    z-index: 50;
}

.slidesjs-pagination li {
    float: left;
    margin: 0 3px;
}

.slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url(../img/pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
    background-position: 0 -26px
}


/*------------- section4 -------------*/

.section4 {
    padding-top: 50px;
    background-color: #F8F6F7;
    padding-bottom: 50px;
    h3 {
        font-weight: 300;
        font-size: 50px;
        line-height: 50px;
    }
    h4 {
        font-weight: 300;
        font-size: 40px;
    }
}

.tech__info {
    margin-top: 70px;
    font-weight: 600;
    @include clearfix;
    .left__info {
        float: left;
        width: 50%;
        p {
            width: 75%;
        }
    }
    .right__info {
        float: right;
        width: 50%;
    }
}

.tech__img {
    width: 100%;
}


/*------------- section5 -------------*/

.section5 {
    text-align: center;
    background-image: url(../img/last-page.jpg);
    background-position: right bottom;
    background-size: cover;
    padding-top: 50px;
    h3 {
        font-size: 50px;
        color: #fff;
    }
}

.dizaap__contacts {
    text-align: left;
    color: #fff;
    p {
        display: block;
    }
    span {
        display: block;
    }
}

.top__contacts {
    display: block;
    margin: 20px;
}

.description__button {
    background-color: rgba($red-color, .8);
    color: #fff;
    margin-top: 10px;
    padding: 3px 100px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    &:hover {
        background-color: rgba($red-color, .9);
    }
}

.smart__contacts {
    margin-top: 50px;
    position: relative;
    span:first-child {
        display: inline-block;
        height: 100px;
        width: 100px;
        background-image: url(../img/flower.svg);
        background-position: 13% 0%;
    }
    span:last-child {
        display: block;
        color: #fff;
        font-weight: 700;
    }
}

.logo__dizaap {
    line-height: 200px;
    span {
        background-image: url(../img/flower.svg);
        background-position: 53% 100%;
        width: 237px;
        height: 40px;
        display: inline-block;
    }
}
